.content-holder {
    margin: 10px;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid gray;
    margin: 10px;
    font-size: large;
    color: black;
    background-color: azure;
}

.card, h1 {
    border-radius: 5px;
    background-color: cadetblue;
}

.card {
    margin: auto;
    padding: 10px;
}

h1 {
    text-align: center;
    color:white;
}