a {
    color: black;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    border: 1px solid black;
    text-align: left;
}

li {
    padding: 10px;
    padding-left: 0%;
    padding-right: 0%;
}

h1 {
    text-align: center;
}